@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.App-bg {
  background-color: rgb(1, 123, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  height: 100%;
  width: 100vw;
}
.App-container {
  margin-top: 50px;
  background-color: #fff;
  width: 90vw;
  height: max-content;
  border-radius: 50px;
  padding-bottom: 50px;
}
body {
  min-width: 700px;
}
